{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">

        <h3 class="text-center mb-4">Login</h3>

        <div class="card shadow-sm">
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" name="username" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control">
                    </div>

                    <button class="btn btn-primary w-100">Login</button>

                </form>

                

            </div>
            
        </div>
        {% for msg in messages %}
            {% if msg %}
                <h3 class="text-center mt-2">{{msg}}</h3>
            {% endif %}
        {% endfor %}

    </div>
</div>
{% endblock %}
